@import "./variables.scss";

@mixin darkBg {
  background: $dark;
}

@mixin divider {
  border-bottom: 1px solid var(--list-group--border-bottom-color, var(--border-bottom-color));
  margin: 30px 0 10px 0;
}

@mixin eyebrow() {
  letter-spacing: .1rem;
  text-transform: uppercase;
}

@mixin lightBg() {
  background-color: $light;
}

@mixin loader() {
  margin: 40px auto;
}

@mixin pagination() {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

@mixin pending() {
  display: flex;
  justify-content: center;
}

@mixin thumbnail($dimension: $thumbnailDimension) {
  width: $dimension;
  height: $dimension;
  border-radius: 5px;

  &--fallback {
    flex: none;
    margin-right: var(--margin-right);
    width: $dimension;
    height: $dimension;

    &-icon {
      width: $dimension;
      height: $dimension;
      opacity: .2;
    }
  }
}

@mixin title() {
  font-family: 'Oswald', sans-serif;
  font-size: 48px;
  font-weight: 900;
  letter-spacing: .05rem;
  text-transform: uppercase;
}

@mixin titleLink() {
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
}
